body {
    margin: 0;
    padding: 0;
    background-image: url('logo/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
    display: flex;
    height: 50vh; /* Ajusta el body al alto total de la ventana */
}